{% extends 'base.html' %}


{% block content %}
<h3 class="text-center mt-5 mb-5">Корзина {% if not cart.product.count %}Пусто{% endif %}</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Общая цена</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart.product.all %}
    <tr>
      <th scope="row">{{ item.content_object.title }}</th>
      <td class="w-25"><img class="image-fluid w-100 h-10" src="{{ item.content_object.image.url }}"></td>
      <td>{{ item.content_object.price }} грн.</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.total_price }} грн.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}