{% extends 'base.html' %}
{% load specifications %}
{% block content %}
 <nav aria-label="breadcrumb" class="pt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
    <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
  </ol>
    </nav>
<div class="row">

    <div class="col-md-4">
        <img src="{{ product.image.url }}" class="image.fluid" style="width: 300px; height: 300px;">
    </div>
    <div class="col-md-8">
        <h3>
            {{ product.title }}
        </h3>
        <p>Цена: {{ product.price }} грн.</p>
        <p>Описание: {{ product.description }}</p>
        <hr>
        <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %} "><button class="btn btn-warning">Добавить в корзину</button> </a>
    </div>
    <div>
        <p class="mt-4">Характеристики: </p>

        {{ product | product_spec }}

    </div>
</div>


{% endblock content %}