<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
  <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
  <tr>
      <td>Частота процессора</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
  <tr>
      <td>Оперативаня память</td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>Видеокарта</td>
      <td>{{ product.video }}</td>
    </tr>
  <tr>
      <td>Время работы аккумулятора</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>